* body {
    margin: 0;

    font-family: 'Lato', sans-serif;

}

/* HEADER GLOBAL */

.header {
    background-color: #2c2b2b;
}

.header .container {
    width: 95%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
}

.header .container {
    justify-content: space-between;
}

.container img {
    width: 200px;
}

.container .logo_unity {
    text-decoration: none;
    color: #4BC65B;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#links_header {
    font-family: 'Lato', sans-serif;
    width: 600px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    
}

.container #links_header .link_formatado {
    text-decoration: none;
    color: white;
}

ul li:hover {
    text-decoration: underline;
    color: #4BC65B;
}


#botao_cadastro_login {
    font-family: 'Lato', sans-serif;
    width: 250px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.container button {
    background-color: #4BC65B; 
    color: #000; 
    border: none; 
    border-radius: 5px;
    padding: 9px 14px; /* Preenchimento interno */
    cursor: pointer; /* Mude o cursor para a mão quando passar o mouse */
}

#botao_cadastro_login button:hover {
    transform: scale(1.2);  /* Efeito de aumentar botão*/
    background-color: #62f576;
}

.botao_formatado {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}






