body {
    background-image: url(public/assets/fundo-telaPrincipal.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#links_header {
    margin-right: -120px;
}

#foto_perfil img {
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

#links_header {
    width: 300px;
    margin-right: -80px;
  }

.header button {
    margin-right: -130px;
}


/* INICIO BANNER */

.banner {
    width: 100%;
    height: 500px;
   
}

.dashboards {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    
}

.dashboards .grafico_estado {
width: 35%;
background-color: #fff;
border: 2px solid black;

}

.dashboards .grafico_plataforma {
width: 35%;
background-color: red;
}