body {
    background-color: #F5F5F5;;
}

#links_header {
    margin-right: -120px;
}


#foto_perfil img {
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

#links_header {
    width: 300px;
    margin-right: -80px;
  }

.header button {
    margin-right: -130px;
}


/* INICIO BANNER */

.banner h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding: 7px 180px ;
}

.banner {
    width: 100%;
    height:1500px;
   
}


.graficos h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.graficos button {
    width: 20%;
    margin-top: 25px;
    
}

.graficos {

    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
     position: relative;
      width: 35%;
       height: 20vw; 
       margin-left: 50px;
       flex-direction: column;
       padding-bottom: 150px;
       align-items: center;
    
}

.graficos_flex {
    display: flex;
    justify-content: space-evenly;
}


.graficos button {
    background-color: #4BC65B;
    width: 45%;
    color: #000; 
    border: none; 
    border-radius: 5px;
    padding: 10px 20px; /* Preenchimento interno */
    cursor: pointer; /* Mude o cursor para a mão quando passar o mouse */
    font-size: 20px;
    font-weight: bold;
}

.graficos button:hover {
    transform: scale(1.1);
    background-color: #62f576;
}