body {
    background-color: #F5F5F5;;
}

#links_header {
    margin-right: -120px;
}


#foto_perfil img {
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

#links_header {
    width: 300px;
    margin-right: -80px;
  }

.header button {
    margin-right: -130px;
}


/* INICIO BANNER */

.banner h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding: 7px 180px ;
}

.banner {
    width: 100%;
    height: 800px;
   
}

.dashboards {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    height: 20vw;
    
}

.graficos h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.dashboards .graficos {

    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
     position: relative;
      width: 35%;
       height: 20vw; 
       margin-left: 50px;
       flex-direction: column;
       padding-bottom: 80px;
    
}
