body {
    background-image: url(fundo-telaPrincipal.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#foto_perfil img {
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

#links_header {
    width: 300px;
    margin-left: -130px;
  }


/* INICIO BANNER */

.banner .texto_principal {
    margin: auto;
    padding-top: 40px;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #fff;
    text-align: center;
}


.banner .boxes {
    display: flex;
    justify-content: space-evenly;
   
    margin:70px 0 70px;
}


.boxbranco {
    width: 20%;
    height: 500px;
    background: linear-gradient(to right, rgb(163, 163, 163), black ); 
    border-radius: 50px;
}

.banner .boxes .boxbranco:hover {
    background: linear-gradient(to right, rgb(255, 255, 255), black);
    padding: 0 10px;
 }

.banner .boxes .box {
    width: 20%;
    height: 500px;
    background:linear-gradient(to right, rgb(0, 0, 105), black );
    border-radius: 50px;
}

.banner .boxes .box:hover {
    background:  linear-gradient(to right, blue, black );
    padding: 0 10px;
 }



#img_neymar {
    width: 100%;
    margin-top: 10px;
}

#img_rodrygo {
    width: 80%;
    margin-left: 50px;
    margin-top: 10px;
    
}

#img_marcosleonardo {
    width: 70%;
    margin-left: 60px;
    margin-top: 10px;
}

.botao_rodrygo {
    background-color: #2c2b2b; 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    padding: 10px 20px; /* Preenchimento interno */
    cursor: pointer; /* Mude o cursor para a mão quando passar o mouse */
    font-size: 20px;
    margin: 90px 0px 0 40px;
}

.botao_rodrygo:hover {
    background-color: #5f5f5f;
}

.botao_neymar {
    background-color: #2c2b2b; 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    padding: 10px 20px; /* Preenchimento interno */
    cursor: pointer; /* Mude o cursor para a mão quando passar o mouse */
    font-size: 20px;
    margin: 90px 0px 0 50px;
}

.botao_neymar:hover {
    background-color: #5f5f5f;
}

.botao_marcosleonardo {
    background-color: #2c2b2b; 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    padding: 10px 20px; /* Preenchimento interno */
    cursor: pointer; /* Mude o cursor para a mão quando passar o mouse */
    font-size: 20px;
    margin: 90px 0px 0 70px;
}

.botao_marcosleonardo:hover {
    background-color: #5f5f5f;
}

.link_formatado {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

