body {
    background-color: #F5F5F5;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 80%;
    margin: auto;
    padding: 50px 0 50px;
}

table {
    
    text-align: center;
}

th {
    padding: 2px 80px;
}

td {
    padding: 11px 0;
}



.listaDasEquipes {
    width: 70%;
    margin: auto;
    padding: 80px;
    color: #fff;
    border-radius: 50px;
    background: #2c2b2b;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #848484;
}

#rodape {
    margin-top: 70px;
}